body, html {
  height: 100%;
  color: #ffffff;
  font-family: Brush Script MT, "Lucida Console", Monaco, monospace;
}
a{
	text-decoration: none;
}
body{
	background: url(../imgs/bkgrnd/bkgrd6.jpg);
	background-size: cover;
}
/***********************************/
#language{
	float: right;
	display: block;
}
#language a{
	padding-right: 8px;
	font-size: 20px;
	color:#990000;
}
#language a:hover{
	color: #dc143c;
}
/********************************/
div{
	display: inline-block;
	text-align: center;
	font-size: 30px;
	margin-right: 15px;
}
#main{
	width: 100%;
}
/*********************/
nav{
	background-color: #ffffff;
	border-radius: 5px;
}
nav a{
	float: center;
	color: #990000;
}
nav a:hover{
	color: #dc143c;
}
table{
	text-align: center;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#tabs{
	font-size: 30px;
	margin-top: 10px;
	width: 80%;
}
/******************************/
h1{
	font-size: 40px;
}
h2{
	font-size: 35px;
	text-decoration: underline;
}
.bengali{
	font-size: 30px;
}
.bengali h1 {
	font-size: 30px;
}
