body, html {
  height: 100%;
  color: #deb887;
  font-family: Brush Script MT;
  /*font-family: 'CharukolaUltraLight';*/
}
a{
	text-decoration: none;
 	color: #ffffff;
}
body{
	background: url(../imgs/bkgrnd/bkgrd4.jpg);
	background-size: cover;
}
#language a{
	padding-right: 8px;
	font-size: 20px;
}
#language{
	float: right;
	display: block;
}
table{
	text-align: center;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.name{
	padding-top: 100px;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
nav a{
	float: center;
}
#tabs{
	font-size: 30px;
	margin-top: 10px;
	width: 80%;
}
#tabs td{
	border-right: 1px solid #ffffff;
}
#end{
	border-right: none;
}
#log{
	text-align: right;
}