body{
	background: url(../imgs/bkgrnd/bkgrd4.jpg);
	background-size: cover;
}
/**********************************/
h1{
	text-align: center;
	margin-top: 150px;
	font-size: 40px;
}
.bengali{
	font-size: 30px;
}